{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static "css/receipts.css" %}"> {% endcomment %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">logout</a></li>
            <li><a href="{% url 'home' %}">Receipts</a></li>
            <li><a href="{% url 'category_list' %}">Categories</a></li>
            <li><a href="{% url 'account_list' %}">Accounts</a></li>
            <li><a href="{% url 'create_receipt' %}">New Receipt</a></li>
            <li><a href="{% url 'create_category' %}">New Category</a></li>
            <li><a href="{% url 'create_account' %}">New Account</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">signup</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
          {% endif %}
          {% block nav %}
          {% endblock nav %}
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
      <p>Made possible by viewers like you.</p>
    </footer>
  </body>
</html>
